<style media="screen">
tr :not(.home){cursor: pointer;}
.ui-state-hightlight { border: 1px dashed #ccc}
td {cursor: context-menu;}

</style>
<div class="container Content">
<h2 class="page-title text-center">All categories</h2>

<a href="/admin/categories/add-category" class="btn btn-primary ">Add a new categories</a>

<br> <br>
<table class="table table-striped">
  <thead>
    <tr class="home">
      <th>category</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody >
    {{#each categories}}
    <tr id="id_{{_id}}" class="{{slug}}">
      <td>{{title}}</td>
      <td> <a href="/admin/categories/edit/{{slug}}">Edit</a> </td>
      <td> <a class="confirmdeletion" href="/admin/categories/delete/{{_id}}">Delete</a> </td>
    </tr>
    {{/each}}

  </tbody>
</table>

</div>

<script type="text/javascript">
$('a.confirmdeletion').on('click',function(){
  if(!confirm('Are You sure You want to delete?')){
    return false;
  } else {
    return true;
  }
});
</script>
