<div class="container Content">
<h2 class="page-title text-center">Edit page</h2>

<a href="/admin/pages" class="btn btn-primary ">Go back to all pages</a>

<br> <br>

<form  action="/admin/pages/edit/:{{page.slug}}" method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" class="form-control" placeholder="Enter Title" value="{{page.title}}" required>

  </div>
  <div class="form-group">
    <label for="slug">Slug</label>
    <input type="text" name="slug" class="form-control" placeholder="slug" value="{{page.slug}}" >

  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea type="text" name="content" class="form-control" cols="30" rows="8" placeholder="content" required>{{page.content}}</textarea>

  </div>
  <div class="d-flex justify-content-center">
  <input type="hidden" name="id" value="{{page._id}}">
  <button type="submit"  class="btn btn-primary">Confirm Changes</button>
    </div>
</form>
</div>

<script>
			CKEDITOR.replace( 'content' );
		</script>
