
  <header class="header">
       <!-- Fixed navbar -->
       <nav class="navbar navbar-expand-md navbar-light bg-secondary">
         <a class="navbar-brand" href="/">
        <img src="/assests/logo.png" width="150" height="150" class="d-inline-block align-top" alt="">

       </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse " id="navbarCollapse">
           <ul class="navbar-nav mr-auto">
             {{#each pages}}
             {{#if (check slug "home")}}
             <li class="nav-item ">
               <a class="nav-link" href="/">{{title}} </a>
             </li>
             {{else}}
             <li class="nav-item ">
               <a class="nav-link" href="/{{slug}}">{{title}} </a>
             </li>
             {{/if}}
             {{/each}}
           </ul>
           <ul class="navbar-nav mr-3">
             {{#if user}}
             <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Welcome,{{user.name}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {{#each pages}}
          {{#if (check slug "home")}}

            <a class="dropdown-item" href="/">{{title}} </a>

          {{else}}

            <a class="dropdown-item" href="/{{slug}}">{{title}} </a>

          {{/if}}
          {{/each}}
          <a class="dropdown-item" href="/cart/checkout">Cart ({{#if (checkarray cart)}}
           {{cart.length}}
             {{else}}
           0
             {{/if}})
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/user/logout">Logout</a>
        </div>
      </li>
             {{else}}
             <li  class="nav-item"> <a  class="nav-link" href="/user/register">Register</a>  </li>
             <li class="nav-item"> <a class="nav-link" href="/user/login">Login</a>  </li>
             {{/if}}
           </ul>
           <form class="form-inline mt-2 mt-md-0">

             <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search" aria-label="Search">
           </form>
         </div>
       </nav>
     </header>
